<div id="page1" class="center ">


    <div class="row center ">
        <div id="bg-image">
            <img class="bg-img" src="../assets/bg-image.jpg" alt="cover pic ">
        </div>


        <div class="text-center">
            <h2 class="text-red">Real Estate Investing Information <br> That Matters to You.</h2>
            <p class="text-secondary">Limited to the San Francisco Bay Area-Join our BETA!</p>
            <div class="text-red">
                <button id="goBackBtn" (click)="signUp()" class="btn btn-red-outline">SIGN UP WITH LINKEDIN</button>
                <p class="text-secondary">SIGN IN</p>
            </div>
        </div>


    </div>
</div>